*#
.#*
*.AD_DRW
*.bak
*.dat
*.docx
*.gif
*.gpdsc
*.gz
*.html
*.i*
*.log
*.logicsettings
*.orig
*.ngc
*.pdf
*.py
*.pyproj
*.save
*.sdf
*.sln
*.txt
*.zip
*~
.pydevproject
.settings/
.vs/
cscope*
Debug/
Middlewares/
Old/
startup/
STM32F4xx_StdPeriph_Driver/
*.tmp
*.scratch
pins.lst
_FLASH.ld
conPin.csv
LatheN.elf.launch
libopencm3/
*.lst
STM32F446RE_FLASH.ld
/stm32f401xe.h
